<!DOCTYPE html>
<html>

<head>
  <title>
    Pelicula no encontrada
  </title>
  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
  <figure>
    <img src="/img/logo-DH.png" alt="Logo Digital House">
  </figure>
  <h1>
    Película no encontrada :(
  </h1>
  <p>Lo sentimos, pero no hay coincidencias para: "<%= palabra %>""
  </p>
  <br>
  <a class="botonVolver" href="/movies">Listado de todas las Películas</a>
</body>

</html>